extends layout

block content

	div.container.profile-top(style="background-image: url('./images/star_banner.jpg')")
		div.img-name.row
		div.profile-pic-cocreation.img-circle.col-xs-4(style="background-image: url('./images/earth-spirals2.png')")
		div.top-header-cocreation.col-xs-6.col-sm-6.c0l-md-7.col-xl-5
			h2.top-header-name(title="name") CoCreation
			div.top-header-description(title="location") The Creative Playground
			//- div.name-loc.col-xs-6.col-sm-6.c0l-md-7.col-xl-5
			//- 	h2.name(title="name") CoCreation
			//- 	div.location(title="location") The Creative Playground
			//- div.profile-pic.img-circle.col-xs-4(style="background-image: url('./images/earth-spirals2.png')")
	.container-fluid.main-container
		.info-block(title="about")
			.content-container
					p.about Check out the collaborative pieces that have been shared with the world.  Join in and add your musical touch!
			//- .row
				.heading-container.col-sm-4.col-md-2
					h2.heading-about CoCreation Songs:
				.content-container.col-sm-8.col-md-10
					p.about Here are the collaborative pieces that have been shared with the world.

		.row
			div.col-sm-5.col-lg-5#sidebar
				//- .profile-sidebar
					.sidebar-list
						button.btn.btn-default.btn-sm.btn-songs Create New Song
				.profile-sidebar
					h1.song-of-the-week Song of the Week:

					#song-of-the-week
					//- .sidebar-list
						p.sidebar-list-text sorting maybe?
						p.sidebar-list-text list of most active users?
						p.sidebar-list-text or a song of the week?
					.post-divider

					.info-block.remove-margin
								h1 Create New Song
								form#create-new-song(method="post" action="/api/createNewSong" name="createNewSong")
									input.form-control.input-new(type="text" name="name" placeholder="Name of Song…")
									input.btn.btn-default.btn-simple2(type="submit" value="Create!")
					
			.col-sm-7.col-lg-7
				.info-block.remove-margin
					h1.heading-about CoCreations
					.sidebar-list.pull-right
						.inline-block Sort:
						select.inline-block
							option(value="likes") Likes
							option(value="upload-date") Upload Date
							//- option(value="style") Style
					.post-divider.add-margin-sm
					#cocreation-container

	//- script(id="cocreation-template" type="text/x-handlebars-template").
		<div class="list-group results">
			<div class="post-container">
				<div class="cocreation-likes pull-right">{{likes}} Likes</div>
				<div class="cocreation-pic-holder">
					<a href="../song/?id={{_id}}"><img class="cocreation-profile-pic img-circle" src={{backgroundImage}}></a>
					<a href="../song/?id={{_id}}">
						<div class="cocreation-heading">
							<h2 class="post-heading"> {{name}} </h4></a>
							<p id="post-text" class="list-group-item-text post-text"> {{description}} </p>
						</div>
				</div>
				<h2>CoCreators</h2>
				{{#each users}}
					<div class="cocreation-user-container">
						<a href="../profile/?id={{_id}}">
							<img class="cocreation-user-pic img-circle" src={{profilePic}}>
							<h3 class="cocreation-user-name">{{name}}</h3>
						</a>
					</div>
				{{/each}}	
	
			</div>
		</div>
	script.
		var user = !{JSON.stringify(user)};
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(script src="../scripts/lib/cocreation.js")