extends layout

block content
	.jumbotron.cocreation-jt
		h5 Upload Audio
		form(action="/submitPublic" method="post" enctype="multipart/form-data")
			input(type="file" name="audio")
			input(type="submit")

	h1 Files
		ul
			for file in s3.Contents
				li= file.Key
					br
					audio()
						source(src='https://s3.amazonaws.com/tonetribe/#{file.Key}' type="audio/mpeg")
					//- img(src="https://s3.amazonaws.com/tonetribe/#{file.Key}", alt="")
					//- br
					//- a(href='/view?key=' + file.Key) Private Link