extends layout

block content
	.container-fluid
		.jumbotron.cocreation-jt
			h1 CoCreation
			form#create-new-song
				input(type="text" name="name" placeholder="Name of Song…")
				a(href="./song")
					input.btn.btn-success(type="submit" value="Add New Song")
	
			.song-container
			//- 	ul
			//- 		for name in songs.names
			//- 			li= name
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(script src="../scripts/lib/cocreation.js")