doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title ToneTribe
		link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../styles/lib/main.css")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
		link(href="../styles/lib/cover.css" rel="stylesheet")
		style(id="holderjs-style" type="text/css")
	body
		form#tune-in.form-inline(action="/auth/login" method="post" role="form")
			.form-group
				.input-group
					input#l-in.form-control.login-input.lg-in.log-me-in.login.l-in.llogin.loin(type="email" placeholder="Email…" name="email")
			.form-group
				.input-group
					input#l-in.form-control.login-input.lg-in.log-me-in.login.l-in.llogin.loin(type="password" placeholder="Password…" name="password")
			input.btn.btn-success(type="submit" value="Tune In")
		.site-wrapper
			.site-wrapper-inner
				.cover-container
					.inner-cover
						h1.cover-heading ToneTribe
						p.lead Welcome to ToneTribe, where creativity thrives and souls shine.
						p.lead Connect with artists around the globe and close to home.
						p.lead Share your tones with the world.
						a#btn-join.btn.btn-success.join(data-toggle="modal" data-target="#signupModal") Join the Tribe

		.modal.m.fade#signupModal
			.modal-dialog
				form#signup(method="post" action="/auth/signup" enctype="multipart/form-data")
					.modal-content.transparent
						.modal-header.mh
							button.close(data-dismiss="modal")
								span(aria-hidden="true") &times;
								span.sr-only Close
							h4.mt Welcome to ToneTribe
						.modal-body.mb
							.row
								.form-group
									label.col-sm-4.control-label.ml(for="email") Email:
									.col-sm-8
										input.form-control.mfc.searchInput(type="email" placeholder="Email…" name="email")
								.form-group
									label.col-sm-4.control-label.ml(for="password") Password:
									.col-sm-8
										input.form-control.mfc.searchInput(type="password" placeholder="Password…" name="password")
								.form-group
									label.col-sm-4.control-label.ml(for="name") Name:
									.col-sm-8
										input.form-control.mfc.searchInput(type="text" name="name" placeholder="Musician or Band Name…")
								.form-group
									label.col-sm-4.control-label.ml(for="location") Location:
									.col-sm-8
										input.form-control.mfc.searchInput(type="text" name="location" placeholder="Location…")
								.form-group
									label.col-sm-4.control-label.ml(for="birthdate") Birthdate:
									.col-sm-8
										input.form-control.mfc.searchInput(type="date" name="birthdate")
						.modal-footer.mf
							button#btn-close-join.btn.btn-default(type="button" data-dismiss="modal") Close
							input.btn.btn-success.btn-lg.mbtn(type="submit" value="Join!")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
		script(src="../scripts/lib/signup.js")





		<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" title="" data-original-title="Copy to clipboard">      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">         <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1412468486973">         <param name="allowScriptAccess" value="sameDomain">         <param name="scale" value="exactfit">         <param name="loop" value="false">         <param name="menu" value="false">         <param name="quality" value="best">         <param name="bgcolor" value="#ffffff">         <param name="wmode" value="transparent">         <param name="flashvars" value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">         <embed src="/assets/flash/ZeroClipboard.swf?noCache=1412468486973" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%" name="global-zeroclipboard-flash-bridge" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com" scale="exactfit">                </object>
		</div>