doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title ToneTribe
        link(rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="../styles/lib/main.css")
        link(rel="stylesheet" type="text/css" href="../styles/lib/cocreation.css")
        link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.amd.min.js")
        script.
            function previewProfile() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("upload-profilePic").files[0]);

                oFReader.onload = function (oFREvent) {
                    document.getElementById("profile-image-holder").style.backgroundImage = 'url(' + oFREvent.target.result + ')';
                };
            };
            function previewBackground() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("upload-backgroundPic").files[0]);

                oFReader.onload = function (oFREvent) {
                    document.getElementById("background-image-holder").style.backgroundImage = 'url(' + oFREvent.target.result + ')';
                };
            };
            function previewSongBackground() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("upload-song-background").files[0]);

                oFReader.onload = function (oFREvent) {
                    document.getElementById("inner-container").style.backgroundImage = 'url(' + oFREvent.target.result + ')';
                };
            };
            function getRangeValue(x){
                  document.getElementById("improvCompRange").innerHTML = x;
                };


    body
        .navbar.navbar-inverse.navbar-fixed-top(role="navigation")

            .container
                .navbar-header

                    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#")
                        strong ToneTribe
                    //- form#tune-in.navbar-form.navbar-right(role="form")
                        .form-group
                            input.form-control.login(type="email" placeholder="Email…" name="email")
                        .form-group
                            input.form-control.login(type="password" placeholder="Password…" name="password")
                        button.btn.btn-success(type="submit") Tune In
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li: a(href="/live-stream") Live Stream
                        li: a(href="/profile-user") Profile
                        li: a(href="/auth/logout") Logout
                        li.dropdown
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Connect
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li: a(id="navbar-search" href="/search") Search for Musicians and Bands
                                li: a(href="/cocreation") Co-Creation
                                li: a(href="#") Discussion Forums
                                li.divider
                                li.dropdown-header Search Classifieds
                                li: a(href="#") Looking for Musicians
                                li: a(href="#") Equipment and Services
    
                                
        block content
        script(id="post-template" type="text/x-handlebars-template").
            <div class="list-group results">
                <div class="post-container">
                    {{#if user._id}}
                        <div class="post-pic-holder">
                            <a href="../profile/?id={{user._id}}"><img class="post-profile-pic img-circle" src={{user.profilePic}}></a>
                        </div>
                        <a href="../profile/?id={{user._id}}">
                    {{else}}
                        <div class="post-pic-holder">
                            <a href="../profile/?id={{user}}"><img class="post-profile-pic img-circle" src={{userProfilePic}}></a>
                        </div>
                        <a href="../profile/?id={{user}}">
                    {{/if}}
                        {{#if user.name}}
                            <h2 class="post-heading"> {{user.name}} </h4>
                        {{else}}
                            <h2 class="post-heading"> {{userName}} </h4>
                        {{/if}}
                    </a>
                    <p class="post-secondary"> {{date}} </p>
                    <p id="post-text" class="list-group-item-text post-text"> {{text}} </p>
                    <button class="like-post btn btn-xs btn-default" value="{{_id}}">
                        <i class="fa fa-thumbs-o-up"></i>
                        <div id="postInfo" value="{{songId}}"></div>
                    </button>
                    <div class="post-likes post-secondary inline"> {{likes}} Likes </div>
                    {{#if cocreationSong}}  
                        <div class="list-group results">
                            <div class="post-container">
                                <div class="post-pic-holder">
                                    <a href="../song/?id={{cocreationSong.0._id}}"><img class="post-profile-pic img-circle" src={{cocreationSong.0.backgroundImage}}></a>
                                </div>
                                <a href="../song/?id={{cocreationSong.0._id}}"><h2 class="post-heading"> {{cocreationSong.0.name}} </h4></a>
                                <p id="post-text" class="list-group-item-text post-text"> {{cocreationSong.0.description}} </p>
                                <div class="post-secondary inline"> {{cocreationSong.0.likes}} Likes </div> 
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        script(id="user-template" type="text/x-handlebars-template").
            <div class="list-group results">
                <div class="post-container">
                    <div class="post-pic-holder">
                        <a href="../profile/?id={{_id}}"><img class="post-profile-pic img-circle" src={{profilePic}}></a>
                    </div>
                        <a href="../profile/?id={{_id}}"><h2 class="post-heading"> {{name}} </h4></a>
                    <p id="post-text" class="list-group-item-text post-text"> {{location}} </p>
                        
                                
                </div>
            </div>
        script(id="comment-template" type="text/x-handlebars-template").
            <div class="list-group results">
                <div class="post-container">
                    <div class="post-pic-holder">
                        <a href="../profile/?id={{userId}}"><img class="post-profile-pic img-circle" src={{userProfilePic}}></a>
                    </div>
                        <a href="../profile/?id={{userId}}"><h2 class="post-heading"> {{userName}} </h4></a>
                        <p class="post-secondary"> {{date}} </p>
                        <p id="comment-text" class="list-group-item-text post-text"> {{comment}} </p>
                    <button class="like-comment btn btn-xs btn-default">
                        <i class="fa fa-thumbs-o-up"></i>
                        <div id="commentInfo" value="{{songId}}"></div>
                    </button>
                    <div class="likes-comment post-secondary inline"> {{likes}} Likes </div>
                                
                </div>
            </div>
        script(id="cocreation-template" type="text/x-handlebars-template").
            <div class="list-group results">
                <div class="cocreation-post-container" style="background-image: url('{{backgroundImage}}');">
                    <div class="cocreation-content-container">
                        <div class="row">
                           
                            <div class="col-xs-9 cocreation-heading">
                                <div class="cocreation-likes pull-right">{{likes}} Likes</div>
                                <a href="../song/?id={{_id}}">
                                <h2 class="cocreation-post-heading"> {{name}} </h4></a>
                                <p id="post-text" class="post-text"> {{description}} </p>
                                <h2 class="cocreation-secondary-heading">CoCreators</h2>
                                {{#each users}}
                                    <div class="cocreation-user-container">
                                        <a href="../profile/?id={{_id}}">
                                            <img class="cocreation-user-pic img-circle" src={{profilePic}}>
                                            <h3 class="cocreation-user-name">{{name}}</h3>
                                        </a>
                                    </div>
                                {{/each}}   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        script(id="cocreation-template-small" type="text/x-handlebars-template").
            <div class="list-group results">
                <div class="cc-small-post-container" style="background-image: url('{{backgroundImage}}');">
                    <div class="cc-small-content-container">
                        <div class="row">
                           
                            <div class="cc-small-heading">
                                <div class="cc-small-likes pull-right">{{likes}} Likes</div>
                                <a href="../song/?id={{_id}}">
                                <h2 class="cc-small-post-heading"> {{name}} </h4></a>
                                <p id="post-text" class="post-text"> {{description}} </p>
                                <h2 class="cc-small-secondary-heading">CoCreators</h2>
                                {{#each users}}
                                    <div class="cc-small-user-container">
                                        <a href="../profile/?id={{_id}}">

                                            <h3 class="cc-small-user-name">{{name}}</h3>
                                        </a>
                                    </div>
                                {{/each}}   
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js")
        script(src="../scripts/lib/moment.js")
        script(src="../scripts/lib/main.js")

        //- script(script src="../scripts/lib/originalMain.js")

    //- <div class="col-xs-3 cocreation-pic-holder">
    //-                             <a href="../song/?id={{_id}}"><img class="cocreation-profile-pic img-circle" src={{backgroundImage}}></a>
    //-                         </div>







