extends layout

block content
	div.container.profile-top(style="background-image: url('./images/Sunset-at-Barrett-Lakes_blackandwhite.jpg')")
		div.img-name.row
				div.profile-pic-cocreation.img-circle.col-xs-4(style="background-image: url('./images/earth-spirals2.png')")
			div.top-header-cocreation.col-xs-6.col-sm-6.c0l-md-7.col-xl-5
				h2.top-header-name(title="name") LiveStream
				div.top-header-description(title="location") The Collective Conversation
	.container
		.info-block(title="about")
			.row
				//- .heading-container.col-sm-4.col-md-2
					h2.heading-about Live Stream:
				.content-container
					h1.about Check out what's happening in the ToneTribe universe!
	.container
		.row
			//- div.col-sm-5.col-md-4#sidebar
				//- .profile-sidebar
					.sidebar-list
						button.btn.btn-default.btn-sm.btn-songs Create New Song
				.profile-sidebar
					h2 Something can go here:
					.sidebar-list
						p.sidebar-list-text sorting maybe?
						p.sidebar-list-text or a song of the week?
					

			.col-sm-7.col-md-8
		.info-block.remove-margin
			button#dropNote.drop-note.btn-simple-sm.pull-left Drop a Note
			h1.heading-about Posts
			form#addPost(role="form")
				.form-group
					textarea.form-control.form-font(type="text" id="post" placeholder="Post…")
				.form-group
					input.btn.btn-simple-sm.btn-post(type="submit" value="Post")
			.post-divider
			#post-container

	
	script.
		var user = !{JSON.stringify(user)};
		var currentUser = !{JSON.stringify(currentUser)};
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(script src="../scripts/lib/liveStream.js")