extends layout

block content
	.heading-form
		h1 Search for Musicians
		p Fill in the fields that you would like to search by:
		//- form#submitSearch.form-horizontal(action="/submitSearch" method="post" role="form")
		form#submitSearch.form-horizontal(role="form")
			.form-group
				label.col-sm-2.control-label(for="name") Name:
				.col-sm-10
					input.form-control.searchInput(type="text" name="name" placeholder="Musician or Band Name…")
			.form-group
				label.col-sm-2.control-label(for="location") Location:
				.col-sm-10
					input.form-control.searchInput(type="text" name="location" placeholder="Location…")
			.form-group
				label.col-sm-2.control-label(for="insruments") Instrument:
				.col-sm-10
					input.form-control.searchInput(type="text" name="instruments" placeholder="Instrument…")
			.form-group
				label.col-sm-2.control-label(for="styles") Style:
				.col-sm-10
					input.form-control.searchInput(type="text" name="styles" placeholder="Style…")
			.form-group
				label.col-sm-2.control-label(for="skill") Skill:
				.col-sm-10
					input.form-control.searchInput(type="text" name="skills" placeholder="Skill…")
			.form-group
				.col-sm-offset-2.col-sm-10
					input.btn.btn-success(type="submit" value="Search")

						
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(script src="../scripts/lib/search.js")